<div id="confirm" class="modal">
  <div class="modal-content">
    <h4>Confirmação</h4>
    <p id='message'></p>
  </div>
  <div class="modal-footer">
    <a href="#" id="apagar" class="modal-action modal-close waves-effect waves-green btn-flat">Apagar</a>
    <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Cancelar</a>
  </div>
</div>
<div class="grupos">
  <div class="row">
    {% for regra in regras %}
    <div class='col s12 m12'>
      <div class='card white lighten-5'>
        <div class='card-content black-text'>
          <input type='hidden' name='idSem' value='{{regra}}'>
          <span class='card-title'>{{regras[regra]['group_name']}}</span>
          <div class='semaforos'>
            {% for semaforo in regras[regra]['semaforos'] %}
            <div class='left' id="bloco">
              <div class='idsemaforo'>{{semaforo}}</div>
              <div class='semaforo' id='{{semaforo}}'>
                <div class='stop disable'></div>
                <div class='warning'></div>
                <div class='go disable'></div>
              </div>
              <div class='tempoSemaforo green-text'>{{regras[regra]['semaforos'][semaforo]['tempo_aberto']}}</div>
            </div>
            {% endfor %}
          </div>
        </div>
        <div class='card-action'>
          <a href='#' class='orange-text' id='manutencao'>Colocar em Manutenção</a>
          <a href='#' class='orange-text' id='reinicia'>Reiniciar</a>
          <a href='#' class='orange-text right' id='confirmacao'>Apagar</a>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
<div class="fixed-action-btn horizontal">
  <a class="btn-floating btn-large waves-effect waves-light orange" id="reconfigurar">
    <i class="large material-icons">build</i>
  </a>
</div>
